.animatedReport {
  background-color: lightgray;
}

.animatedColumn {
  background-color: gray;
  height: 16vmin;
  width: 8vmin;
  position: absolute;
}

.animatedColumnOne {
  right: 30vmin;
  transform: translateY(1vmin);
  animation: movingColumnOne 2s alternate-reverse infinite ease-in-out;

  animation-play-state: paused;
}

@keyframes movingColumnOne {
  from {
    transform: translateY(1vmin);
  }
  to {
    transform: translateY(14vmin);
  }
}

.animatedColumnTwo {
  right: 20vmin;
  transform: translateY(14vmin);
  animation: movingColumnTwo 2s 0.5s alternate-reverse infinite ease-in-out;

  animation-play-state: paused;
}

@keyframes movingColumnTwo {
  from {
    transform: translateY(1vmin);
  }
  to {
    transform: translateY(14vmin);
  }
}

.animatedColumnThree {
  right: 10vmin;
  transform: translateY(14vmin);
  animation: movingColumnThree 2s 1s alternate-reverse infinite ease-in-out;

  animation-play-state: paused;
}

@keyframes movingColumnThree {
  from {
    transform: translateY(1vmin);
  }
  to {
    transform: translateY(14vmin);
  }
}

.animatedReport:hover .animatedColumn {
  animation-play-state: running;
  background-color: blueviolet;
}

.animatedReport:hover {
  background-color: wheat;
}

.summaryReport {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.eventWindowGrid {
  display: grid;
  grid-template-columns: 4em auto;
  grid-template-rows: auto;
}
