.addMileageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mileageIncrementer,
.mileageSummary {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.undoButton {
  background-color: orange;
  width: initial;
  border-radius: 5px;
}

.saveButton {
  width: 100%;
  background-color: rgb(37, 147, 238);
  color: white;
}

.mileageSummary {
  align-items: center;
  transition: 0.3s;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.animatedCar {
  background-color: gray;
  transition: background-color 0.3s;
}

.carIcon {
  font-size: 2em;
  align-self: flex-end;
  position: absolute;
  bottom: 2.5px;
  color: black;
  right: 20%;
  animation: carJitter 0.1s linear infinite;
  animation-play-state: paused;
}

@keyframes carJitter {
  from {
    transform: translateY(2%);
  }
  to {
    transform: translateY(-2%);
  }
}

.grass {
  background-color: black;
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: background-color 0.3s;
}

.mountain {
  transform: translateX(90vw);
  border-left: 10vmin solid transparent;
  border-right: 10vmin solid transparent;
  border-bottom: 14vmin solid white;
  position: absolute;
  animation: movingMountain 10s linear infinite;
  animation-play-state: paused;
}

.leftMountain {
  animation-delay: 0.7s;
}

@keyframes movingMountain {
  from {
    transform: translateX(90vw);
  }
  to {
    transform: translateX(-20vw);
  }
}

.animatedCar:hover .mountain,
.animatedCar:hover .carIcon {
  animation-play-state: running;
}

.animatedCar:hover {
  background-color: lightblue;
}

.animatedCar:hover .grass {
  background-color: lightslategray;
}
