.mileageIncrementer,
.mileageSummary {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.saveButton,
.undoButton {
  margin-top: 10px;
  border: none;
  height: 3em;
  align-self: center;
  transition: 0.3s;
}

.saveButton:hover,
.undoButton:hover {
  background-color: gray;
  color: white;
}

.undoButton {
  background-color: orange;
  width: initial;
  border-radius: 5px;
}

.saveButton {
  width: 100%;
  background-color: rgb(37, 147, 238);
  color: white;
}

.mileageSummary {
  align-items: center;
  transition: 0.3s;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}
