.fuelTankHolder {
  height: 70vmin;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}

.button {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.fuelUpButton {
  background-color: rgb(37, 147, 238);
  color: white;
}

.costSummary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tankDelta {
  text-align: center;
}

.fillUpSummary {
  margin-left: 3em;
}
