.fuelTankContainer {
  width: 28vmin;
  height: 55.5vmin;
  border: solid black;
  border-radius: 5px;
  position: absolute;
  overflow: hidden;
}

.minorMark {
  height: 5vmin;
  width: 2vmin;
  border-bottom: solid black;
}

.minorMark:nth-child(11) {
  border: none;
}

.majorMark {
  height: 5vmin;
  width: 4vmin;
  border-bottom: solid black;
}

.gasLevel {
  position: absolute;
  width: 28vmin;
  height: 56vmin;
  top: 20px;
  background-color: gray;
  z-index: -1;
}

.container {
  margin-top: 1em;
  width: 50vmin;
}

.description {
  height: 3em;
}
